@page "/foods/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Create New Food</h3>
<hr />
<br />

<EditForm Model="@food" OnValidSubmit="CreateFood">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="form-group">
		<label>FoodItem: </label>
		<div>
			<InputText @bind-Value="food.FoodItem" class="form-control" />
			<ValidationMessage For="@(()=> food.FoodItem)" />
		</div>
	</div>
	<div class="form-group">
		<label>Size: </label>
		<div>
			<InputText @bind-Value="food.Size" class="form-control" />
			<ValidationMessage For="@(()=> food.Size)" />
		</div>
	</div>
	<div class="form-group">
		<label>Price: </label>
		<div>
			<InputNumber @bind-Value="food.Price" class="form-control" />
			<ValidationMessage For="@(()=> food.Price)" />
		</div>
	</div>
	<div class="form-group">
		<label>Halal: </label>
		<div>
			<InputCheckbox @bind-Value="food.Halal" class="form-control" />
			<ValidationMessage For="@(()=> food.Halal)" />
		</div>
	</div> 
	<div class="form-group">
		<label>Total Calories: </label>
		<div>
			<InputNumber @bind-Value="food.Calories" class="form-control" />
			<ValidationMessage For="@(()=> food.Calories)" />
		</div>
	</div>
	<div class="form-group">
		<label>Total Protein: </label>
		<div>
			<InputNumber @bind-Value="food.Protein" class="form-control" />
			<ValidationMessage For="@(()=> food.Protein)" />
		</div>
	</div>
	<div class="form-group">
		<label>Total Fats: </label>
		<div>
			<InputNumber @bind-Value="food.Fats" class="form-control" />
			<ValidationMessage For="@(()=> food.Fats)" />
		</div>
	</div>
		<div class="form-group">
		<label>Allergies: </label>
		<div>
			<InputText @bind-Value="food.Allergies" class="form-control" />
			<ValidationMessage For="@(()=> food.Allergies)" />
		</div>
	</div>
	<div class="form-group">
		<label>Remarks: </label>
		<div>
			<InputText @bind-Value="food.Remarks" class="form-control" />
			<ValidationMessage For="@(()=> food.Remarks)" />
		</div>
	</div>
	<button type="submit" class="btn btn-success btn-block">
		Create Food
	</button>
</EditForm>

@code {
	Food food = new Food();
	private async Task CreateFood()
	{
		await _client.PostAsJsonAsync(Endpoints.FoodsEndpoint, food);
		_navManager.NavigateTo("/foods/");
	}
	public bool boolvalue { get; set; }
	public string val;
	void ToggleCheckbox()
	{
		if (boolvalue)
		{
			val = "unchecked";
		}
		else
		{
			val = "checked";
		}
		boolvalue = !boolvalue;
	}
}